﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mainApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendors")
</head>
<body ng-controller="rootCtrl">
    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <side-bar></side-Bar>
            <div id="main">
                <div class="col-md-12">
                    <p class="visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    </p>
                    <div class="page" ng-view>
                        <!--View rendering here -->
                    </div>
                </div>
            </div>
    </div>
    @Scripts.Render("~/bundles/spa")
    <footer>
        <div class="footer">
            <p class="text-center">Copyright &copy; Eduard Myatyga @DateTime.Now.Year</p>
        </div>
    </footer>
</body>
</html>