﻿<br/>
<br/>
<br/>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary" id="panelLatestMovies">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Posts</h3>
            </div>

            <div class="panel-body">
                <div ng-if="loadingMovies">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i> <label class="label label-primary"></label>
                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-6 movie">

                </div>-->
                <div ng-if="loadingMovies">
                    <article>
                        <h2><a href="#/post">Aries Sun Sign March 21 - April 19</a>
                        </h2>

                        <div class="row">
                            <div class="group1 col-sm-6 col-md-6">
                                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Signs</a>
                                &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="group2 col-sm-6 col-md-6">
                                <span class="glyphicon glyphicon-pencil"></span> <a href="#/post">20 Comments</a>
                                &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                            </div>
                        </div>

                        <hr>

                        <img src="http://placehold.it/900x300" class="img-responsive">

                        <br/>

                        <p class="lead">Aries is the first sign of the zodiac, and that's pretty much how those born under this sign see themselves: first. Aries are the leaders of the pack, first in line to get things going. Whether or not everything gets done is another question altogether, for an Aries prefers to initiate rather than to complete. Do you have a project needing a kick-start? Call an Aries, by all means. The leadership displayed by Aries is most impressive, so don't be surprised if they can rally the troops against seemingly insurmountable odds.</p>

                        <p>The symbol of Aries is the Ram, and that's both good and bad news. Impulsive Aries might be tempted to ram their ideas down everyone's throats without even bothering to ask if they want to know. It's these times when you may wish Aries' symbol were a more subdued creature, more lamb than ram perhaps. You're not likely to convince the Ram to soften up; these folks are blunt and to the point. Along with those qualities comes the sheer force of the Aries nature, a force that can actually accomplish a great deal. Much of Aries' drive to compete and to win comes from its Cardinal Quality. Cardinal Signs love to get things going, and Aries exemplifies this even better than Cancer, Libra or Capricorn.</p>

                        <p class="text-right">
                            <a href="#/">
                                continue reading...
                            </a>
                        </p>

                        <hr>
                    </article>
                </div>
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Previous</a></li>
                    <li class="next"><a href="#">Next &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <widget-right></widget-right>
    </div>
</div>