﻿<div class="navbar navbar-default navbar-fixed-top bs-docs-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#/">Eduard Myatyga Blogs</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="userinfo"><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li class="userinfo"><a ng-href="#/register" ng-if="!userData.isUserLoggedIn">Register<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li class="userinfo" ng-click="logout();" ng-if="userData.isUserLoggedIn"><a href="#/">Logout<i class="fa fa-sign-out pull-right"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="userData.isUserLoggedIn">
            <!--ng-if="userData.isUserLoggedIn" -->
            <li class="userinfo"><a href="#/"> Hi, {{username}}<i class="fa fa-user fa-fw"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"><li><div class="userinfo"></div></li></ul>
    </div>
</div>

