﻿<div id="widget-right">
    
    <div class="well text-center">
        <p class="lead">
            Don't want to miss updates? Please click the below button!
        </p>
        <button class="btn btn-success">Subscribe</button>
    </div>

    <div class="panel panel-info" id="panelMovieGenres">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div >
                <div class="col-xs-12 text-center">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw"></i> <label class="label label-primary"></label>
                </div>
            </div>
            <div ></div>
        </div>
    </div>
    <!-- Categories -->
    <div class="panel panel-primary" id="panelCategories">
        <div class="panel-heading">
            <h4>Categories</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Signs</a></li>
            <li class="list-group-item"><a href="#">Elements</a></li>
            <li class="list-group-item"><a href="#">Planets</a></li>
            <li class="list-group-item"><a href="#">Cusps</a></li>
            <li class="list-group-item"><a href="#">Compatibility</a></li>
        </ul>
    </div>
</div>


