﻿/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #e7e7e7;
}

.text-muted {
    margin: 20px 0;
}


#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    padding-left: 20px;
    height: 100%;
    overflow: auto;
    background-color: white;
}


.panel-body h4 {
    color: #a55400;
}

.red {
    color: red;
}

.green {
    color: green;
}

.shortPanel {
    max-height: 282px !important;
    overflow-y: auto;
}

.shortPadding {
    padding: 1px !important;
}

.shortMargin {
    margin: 0 !important;
}

ul.pagination > li
{
    cursor: pointer;
}

/* Fixes alignment in nav lists */
.nav-pills [class^="fa-"],
.nav-pills [class*=" fa-"] {
    line-height: inherit;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }

    .row-offcanvas-left {
        left: -220px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 650px) {
    .movieDescription {
        margin-left: 240px !important;
    }
}

@media (max-width: 490px) {
    .movieDescription {
        margin-left: 125px !important;
    }
}



.shortInputSearch {
    width: 300px !important;
    float: right !important;
}

.jumbotron {
    position: relative;
   /*background: #e6e6fa url("../images/background.jpg") center center; */ 
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

/*Edit form*/
#editMovieWrapper {
    background-color: #337AB7;
    color: white;
    padding: 20px;
}

.black {
    color: black !important;
}

/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.userinfo {
    margin-right: 30px;
    font-size: large;
}

/*Validation Errors*/
.has-error .control-label {
    color: #FFB658 !important;
}

.movieDescription {
    margin-left: 335px;
}

/* Autocomplete section */
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.red {
    color: red;
}
.img-responsive {
    display: block;
    height: 100%!important;
    max-width: 100%;
    width: 100% !important;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}
        
.photo {
	margin-bottom: 10px;
}

.social-buttons button {
	margin-top: 5px;
}

a.logo-link {
	display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
}


/* Media Queries */
@media (min-width: 768px) {
	.group2 {
		text-align: right;
	}
}