﻿<div class="row">
    <form novalidate class="form-signin" role="form" name="userRegistrationForm">
        <h3 class="form-signin-heading">Register</h3>
        <div class="form-group">
            <input type="text" name="inputUsername" class="form-control" data-ng-model="registration.email" placeholder="Email" required ng-minlength="3" ng-maxlength="50">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" ng-minlength="4" ng-maxlength="20" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" ng-minlength="4" ng-maxlength="20" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    </form>
</div>
